@model IEnumerable<GuanaHospi.Models.Unidad>

@{
    ViewData["Title"] = "PDF";
    Layout = "~/Views/Shared/_LayoutPdf.cshtml";
}

<h1>Lista de Unidades</h1>


<table class="table">
    <thead>
        <tr>
            <
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planta)
            </th>
            <th>
                Identificacion del Doctor
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Planta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDoctorNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDoctorNavigation.Apellido1)
            </td>

        </tr>
        }
    </tbody>
</table>
