@model IEnumerable<GuanaHospi.Models.PacienteIntervencion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdIntervencionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPacienteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdIntervencionNavigation.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPacienteNavigation.Apellido1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPacienteIntervencion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPacienteIntervencion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPacienteIntervencion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
